django
celery
django-celery-results
python-dotenv
python-decouple
dj-database-url
psycopg2-binary
djangorestframework
djangorestframework-simplejwt
django-cors-headers
Pillow
sendgrid-django
whitenoise
daphne
channels-redis
redis
mysqlclient
gunicorn